
body {
    margin: 60px auto;
    width: 80%;
    background-color: #F0F3F4
}

/*
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
*/
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    background-color: black;
    color: white;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

.col-sm-6 {
        text-align: center;
        text-align: center;
        margin: 25px 0;
    }


.jumbotron {
    position: relative;
    background:none;
    height: 300px;
    background-image: url(../resources/whitehero.jpg);
}
.jumbotron:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../resources/whitehero.jpg);
    /*Background vector created by starline - www.freepik.com*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

.div-title{
    text-align: left;
    margin: 20px 5px;
    border-bottom: 2px solid #d5d5d5;
}


.blurb-out{
    margin: 25px 0px;
    background-color: white;
    border-top: 1px solid #d5d5d5;
}
.blurb-in {
    margin: 10px;
    background-color: white;
    
}

.cnt-block equal-hight{
    text-align: center
}

.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}


.heading.heading-icon {
    display: block;
}
.padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
        border:1px solid #999999; 
        text-align:center; 
        margin-bottom:28px; 
        padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
    font-size:24px; 
    font-weight:500;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
    line-height:22px; 
    font-weight:400;
}
.practice-area .inner img{
    display:inline-block;
}


.our-webcoderskull{
    background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover;
    
}
.our-webcoderskull .cnt-block{ 
    float:left; 
    width:100%; 
    background:#fff; 
    padding:30px 20px; 
    text-align:center; 
    border:2px solid #d5d5d5;
    margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
    width:148px; 
    height:148px; 
    border-radius:100%; 
    display:inline-block;
    margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
    width:148px; 
    height:148px; 
    border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
    color:#2a2a2a; 
    font-size:20px; 
    font-weight:500; 
    padding:6px 0;
    text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
    text-decoration:none;
    color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
    color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
    color:#2a2a2a; 
    font-size:13px; 
    line-height:20px; 
    font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
    margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
    width:auto; 
    margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
    font-size:24px; 
    color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
    color:#025a8e;
}